* {
    
    padding: 0;
    margin: 0;
}
body {
    background-size: cover;
    background-position: center;
    background-image: url(../images/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
}
header{
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    color:black;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-image: url(../images/brandi-redd-aJTiW00qqtI-unsplash.jpg);
        }
    
header h1 {
        
        
    font-size: 30px;
    background-color:lightgrey;
    color: dark blue;
    padding-right: 2px;
        
        
    }
    
header nav {
        
    margin: 7px 0px;
    font-size: 20px;
    color:lightgreen;
    background-color: lightslategray;
    
    }
header nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            color:lightgreen;
           
          }
          
header nav ul li {
            
            margin-left: 25px;
            
                }
        

    
 .hero {
    background-color: darkblue;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-image: url(../images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
    
    

    }
.hero h2{
    margin left: 25px;
    bor

}
.About-Me {
    display: flex;
    height: 200px;
    flex-direction: initial;
    text-align: right;
    
    }

        
 .work {
    height: 900px;
     background-color: blue;
    }
.About-Me div h2{
     border-right: solid black;
     padding-right: 2mm ;

 }
 .Work {
    display: flex;
    height: 200px;
    flex-direction: initial;
    text-align: right;}
.Work div h2{
        border-right: solid black;
        padding-right: 2mm ;
    }


.

.About-Me p {
    text-align: center;
    
    }

.LED-Wall {
    width: 1200px;
    height: 300px;
    border: red;
    height: 50px;
    border-style: solid;
    background-color: goldenrod;
    background-size: cover;
    background-position: center;
    background-image: url(../images/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}


.calculator {
    display: flex;
    width: 600px;
    border: red;
    height: 50px;
    border-style: solid;
    background-color: goldenrod;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(../images/pawel-czerwinski-0UMy_4q6QQE-unsplash.jpg);
}
.Pastel-Puzzels {
    display: flex;
    width: 600px;
    border: red;
    height: 50px;
    border-style: solid;
    background-color: goldenrod;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(../images/henry-co-tqu0IOMaiU8-unsplash.jpg);

}
.Run-Buddy {
    display: flex;
    width: 600px;
    border: red;
    height: 50px;
    border-style: solid;
    background-color: goldenrod;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(../images/dana-devolk-E0BdstzaO8E-unsplash.jpg);
}

    
 footer  {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
        
        }
    
footer nav   {
    
        
    padding-top: 5px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
            
            }
            
          
 footer nav ul {
    list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }

            
            
 footer nav ul li {
            
     margin-left: 25px;
         }
    